@import url(../@vivliostyle/theme-base/theme-all.css);
@import url(../@vivliostyle/theme-base/css/lib/prism/base.css);
@import url(../@vivliostyle/theme-base/css/lib/prism/theme-okaidia.css);
@import url(../@vivliostyle/theme-techbook/theme.css);

:root {
  --mt-chapter-title-decoration-color: #27ae60;
}

:root {
  --mt-pre-line-height: 1.3;
}

:root {
  /* 
   * base font-size
   */
  --vs-font-size: 10px;
  --vs-font-size-on-print: var(--vs-font-size);

  /* 
   * header
   */
  --vs--heading-line-height: 1.3;
  --vs--h1-font-size: 2.2em;
  --vs--h2-font-size: 1.6em;
  --vs--h3-font-size: 1.3em;
  --vs--h4-font-size: 1.15em;
  --vs--h5-font-size: 1em;
  --vs--h6-font-size: 0.83em;

  /* 
   * header page break
   */
  --vs-section--h1-break-before: inherit;
  --vs-section--h2-break-before: auto;
  --vs-section--h3-break-before: auto;
  --vs-section--h4-break-before: auto;
  --vs-section--h5-break-before: auto;
  --vs-section--h6-break-before: auto;

  /*
   * p
   */
  --vs--p-margin-block: var(--vs-font-size);

  /* 
   * code block
   */
  /* --vs--monospace-line-height: 1.3; */
  --vs--pre-font-size: 95%;

  /* 
   * prism
   */
  --vs-prism--color-string: #a6e22e;

  /*
   * footnote's font size
   */
  --vs-footnote--font-size: calc(var(--vs-font-size) - 1);

  /*
  * endnote contents's font size
  */
  --vs-endnote--section-font-size: calc(var(--vs-font-size) - 1);

  /* 
   * page margin box's font size
   */
  --vs-page--mbox-font-size: calc(var(--vs-font-size) - 1);

  /* 
   * toc
   */
  --vs-toc--marker-content: counter(vs-counter-toc) '.';
  --vs-toc--marker-display: inline-block;
  --vs-toc--ol-indent-size: 1.5rem;

  /* 
   * page's margins
   */
  --vs-page--margin-top: 20mm;
  --vs-page--margin-bottom: 25mm;
  --vs-page--margin-inner: 17mm;
  --vs-page--margin-outer: 17mm;
}

/* 
 * toc
 */
#toc,
[role='doc-toc'] {
  --vs--ol-minimum-inline-indent-size: revert;
}

:is(#toc, [role='doc-toc']) li::before {
  inline-size: auto;
  inset-inline-start: 0;
}

:is(#toc, [role='doc-toc']) ol {
  padding-inline-start: 20px;
}

/* 
 * body
 */
body {
  break-before: recto;
}

/* 
 * code block
 */
pre {
  line-height: var(--mt-pre-line-height);
}

@media print {
  pre[class*='language-'] {
    box-decoration-break: clone;
  }
}

@media print {
  figure[class*='language-'] {
    display: block;
  }
}

/*
 * figure
 */
figure img {
  max-width: 100%;
}

/* 
 * footnote-external-link
 */
@media print {
  :not(.footnote) > a[href^='http'] {
    counter-increment: none;
  }

  :not(.footnote)>a[href^='http']::before {
    display: none;
  }

  :not(.footnote)>a[href^='http']::after {
    display: none;
  }
}

/*
 * toc
 */
:is(#toc, [role='doc-toc']) li::before {
  inset-inline-start: calc(var(--vs-toc--ol-indent-size) * -1.2);
}

/* 
 * chapter layout
 */
.content>section>h1 {
  display: none;
}

div.doc-header {
  border-left: 4pt solid;
  border-bottom: 2pt solid;
  border-color: var(--mt-chapter-title-decoration-color);
  padding-top: 5pt;
  padding-left: 14pt;
  padding-bottom: 10pt;
  margin-bottom: 20pt;
  position: relative;

  h1 {
    display: block;
  }
}

div.doc-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 2pt);
  border-left: 2pt solid;
  border-color: var(--mt-chapter-title-decoration-color);
  top: 0pt;
  left: 2pt;
}

div.doc-title {
  /* h1 の指定を @vivliostyle/theme-base/css/common/basic.css からコピーしたもの */
  break-after: var(--vs--h1-break-after, var(--vs--heading-break-after));
  break-inside: var(--vs--h1-break-inside, var(--vs--heading-break-inside));
  font-family: var(--vs--h1-font-family, var(--vs--heading-font-family));
  font-feature-settings: var(--vs--h1-font-feature-settings,
      var(--vs--heading-font-feature-settings));
  font-kerning: var(--vs--h1-font-kerning, var(--vs--heading-font-kerning));
  font-size: var(--vs--h1-font-size);
  font-stretch: var(--vs--h1-font-stretch, var(--vs--heading-font-stretch));
  font-variant: var(--vs--h1-font-variant, var(--vs--heading-font-variant));
  font-variation-settings: var(--vs--h1-font-variation-settings,
      var(--vs--heading-font-variation-settings));
  font-weight: var(--vs--h1-font-weight, var(--vs--heading-font-weight));
  hyphens: var(--vs--h1-hyphens, var(--vs--heading-hyphens));
  letter-spacing: var(--vs--h1-letter-spacing,
      var(--vs--heading-letter-spacing));
  line-height: var(--vs--h1-line-height, var(--vs--heading-line-height));
  margin-block: var(--vs--h1-margin-block, var(--vs--heading-margin-block));
  margin-inline: var(--vs--h1-margin-inline, var(--vs--heading-margin-inline));
  text-align: var(--vs--h1-text-align, var(--vs--heading-text-align));
  text-indent: var(--vs--h1-text-indent, var(--vs--heading-text-indent));
  text-spacing: var(--vs--h1-text-spacing, var(--vs--heading-text-spacing));
  word-break: var(--vs--h1-word-break, var(--vs--heading-word-break));
  word-spacing: var(--vs--h1-word-spacing, var(--vs--heading-word-spacing));
}

div.doc-author {
  text-align: right;
}

/* 
 * colophon
 */
.colophon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* 
 * page break
 */
hr.page-break {
  break-after: page;
  visibility: hidden;
}